extends base
block title
    title= post.title + " - " + site.title
block content

    .detail
        .post
            .content
                h1.main-header
                    a.post-link(href=post.url)= post.title
                if post.tags
                    .tags
                        for tag in post.tags
                            a.post-tag(href="/tag/{{tag}}")= tag
                .post-info
                    span.date
                        i.fa.fa-calendar
                        span= post.date.format('%Y-%m-%d')
                    span.visitors
                        i.fa.fa-bookmark-o
                        span= post.visits or 0
                    if request.is_admin
                        span.editor
                            a.go_editor(href="{{post.url}}?action=edit", target=="_blank")
                                i.fa.fa-edit
                .clearfix
                .post-body= post.content
                if post.tags
                    .tags
                        for tag in post.tags
                            a.post-tag(href="/tag/{{tag}}")= tag
                .post-info
                    span.date
                        i.fa.fa-calendar
                        span= post.date.format('%Y-%m-%d')
                    span.visitors
                        i.fa.fa-bookmark-o
                        span= post.visits or 0
                    if request.is_admin
                        span.editor
                            a.go_editor(href="{{post.url}}?action=edit", target=="_blank")
                                i.fa.fa-edit

        .clearfix

        include include/comments.jade
